
    .container {
        position: relative;
        text-align: center;
        display: inline-block;
        margin: 100px;
}

.container img {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.container:hover img {
    transform: scale(1.7);
}

.description {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    visibility: hidden;
    width: 200px;
}

.container:hover .description {
    visibility: visible;
}

